{% extends 'include/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h3 class="text-center">Tasks</h3><a href="{% url "task:add" %}">+</a>
    <div class="row justify-content-center" id="dashboard" style="height: 80vh">
        <div style="width: 60vw">
            <div class="demo-html"></div>
			<table id="example" class="display" style="width:100%">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Due Date</th>
						<th>User</th>
						<th>Completed</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.title|default:"" }}</td>
                            <td>{{ task.description|default:"" }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.user }}</td>
                            <td><input type="checkbox" class="marker-completed" data-id="{{ task.pk }}" {% if task.completed %}checked{% endif %}></td>
                            <td><button class="delete-btn" data-method="POST" data-href="{% url "task:delete" task.pk %}">🗑️</button><a href="{% url "task:modify" task.pk %}">📋</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#example').DataTable();
        document.querySelectorAll(".marker-completed").forEach(function(element) {
            element.addEventListener("change", function() {
                var id = this.getAttribute("data-id");
                var completed = this.checked;
                $.ajax({
                    url: "{% url "task:mark_as_completed" %}",
                    type: "POST",
                    data: {
                        task_id: id,
                        completed: completed
                    },
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
        });
        document.querySelectorAll(".delete-btn").forEach(function(element) {
            element.addEventListener("click", function() {
                $.ajax({
                    url: element.dataset.href,
                    type: element.dataset.method,
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
        });
    });
</script>
{% endblock %}